/* Reseteo de propiedades y características generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
}

/* Títulos */
h1 {
    text-align: center;
    font-size: 3vw;
    color: #65BFBF;
}

h2 {
    text-align: center;
    font-size: 2vw;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
}

/* Contenedor principal con Grid */
main {
    display: grid;
    grid-template-columns: 10% 29% 29% 29%;
    /* mejor ponerlo con vh porque es altura */
    grid-template-rows: 50%;
    gap: 1%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2.5%;
}

img {
    height: 40vh;
    width: 100%;
    border-radius: 3%;
    border: 1px solid black;
}

figure {
    border: 1px solid black;
    border-radius: 3%;
    background-color: #9CD9D3;
    padding: 3%;
    align-items: center;
}

#doble {
    grid-column: 2/4;
    grid-row: 1/2;
}

/* No sé por qué al usar figure en el primero no me lo hace bien, pero con id si
/* 
figure:nth-child(1) {
    grid-column: 2/4; 
    grid-row: 1/2;
    
    OTRA FORMA DE HACERLO:
    grid-column: 2/span 2; 
    grid-row: 1/2;
}
*/

figure:nth-child(2),
figure:nth-child(3),
figure:nth-child(4),
figure:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
}

/* Menú izquierda */
nav {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 20%;
}

nav li {
    color: #65BFBF;
    text-align: left;
    margin-bottom: 10%;
}

nav ul {
    list-style: none;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border-top: 1px solid black;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
}

footer a{
    color:black;
}